/Cargo.lock

# IDF Component Manager lock file, generated during build.
# Can be in root, but also in subfolders (if build started there)
components_esp32c6.lock

# 'sdkconfig.defaults' is in version control; this not
#/sdkconfig
