/Cargo.lock

# DO NOT run 'menuconfig' at the root; use '_mc'
#r 'menuconfig' creates; ignore
#r/build/
#r/managed_components/
#r/dependencies.lock
#r/sdkconfig.old

# IDF Component Manager lock file, generated during build.
# Can be in root, but also in subfolders (if build started there)
components_esp32c6.lock

# 'sdkconfig.defaults' is in version control; this not
#/sdkconfig
