#
# sdkconfig.defaults
#
# Here are lines we have changed in the 'sdkconfig' file.
#
# WARN! If you misspell a config (or use one you only dream existed), ESP-IDF build chain will **warn**, but not stop
#     the build! Keep an eye on the build output!!
#
#       ^-- this is understandable in the way that the config(s) are intended to be worked on using 'menuconfig',
#           not by manual edits.

# Rust needs more main task stack size compared to C
#   - C 'esp_zigbee_sdk' examples use 4096
CONFIG_ESP_MAIN_TASK_STACK_SIZE=20000

# From 'esp-idf-svc', with mention that these be needed at least if (as we do) 'embassy-time-driver' is being used.
CONFIG_ESP_TIMER_TASK_STACK_SIZE=4096
#CONFIG_ESP_MAIN_TASK_STACK_SIZE=20000
CONFIG_ESP_SYSTEM_EVENT_TASK_STACK_SIZE=8192
CONFIG_PTHREAD_TASK_STACK_SIZE_DEFAULT=8192

# 1 ms granularity for (FreeRTOS) thread sleeps (10 ms by default).
CONFIG_FREERTOS_HZ=1000

# NOTE! In ESP-IDF use of Kconfig files, DISABLED LINES ARE USUALLY COMMENTED OUT, NOT SET TO '=n'. This seems to be
#   "so that C #ifdef can be used for seeing which features are in use" (video |here|).
#
#   We could go for that?
#       |here| (around 4:20): "ESP32 - Kconfig with ESP-IDF Tutorial" -> https://www.youtube.com/watch?v=KsrDYfQ9geU

#---
# Zigbee
CONFIG_ZB_ENABLED=y
CONFIG_ZB_ZCZR=y
    # Controller/Router code included (can also bake ZED's with this)
CONFIG_ZB_RADIO_NATIVE=y
#CONFIG_ZB_GP_ENABLED=y

# Partition Table
# based on 'esp-zigbee-sdk' > examples > HA_color_dimmable_light
#
# These three won't be properly handled by 'esp-idf-sys' (0.37.2). |1| That's fine, as long as we flash with the
# right 'partitions.csv'.
#   |1|: "Custom partitions.csv with relative path is not copied to build folder causing build to fail" (GitHub Issues)
#       https://github.com/esp-rs/esp-idf-sys/issues/395
#|CONFIG_PARTITION_TABLE_CUSTOM=y
#|CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions.csv"
#|CONFIG_PARTITION_TABLE_FILENAME="partitions.csv"

#CONFIG_PARTITION_TABLE_OFFSET=0x8000   # default

# mbedTLS
# based on 'esp-zigbee-sdk' > examples > HA_color_dimmable_light
#
#CONFIG_MBEDTLS_HARDWARE_AES=y
#CONFIG_MBEDTLS_HARDWARE_MPI=y
#CONFIG_MBEDTLS_HARDWARE_SHA=y
CONFIG_MBEDTLS_CMAC_C=y
CONFIG_MBEDTLS_SSL_PROTO_DTLS=y
CONFIG_MBEDTLS_KEY_EXCHANGE_ECJPAKE=y

CONFIG_MBEDTLS_ECJPAKE_C=y

# WiFi
# Note: something forces it to 'y'.
#CONFIG_ESP_WIFI_ENABLED=y

#---
# NOTE: Entries below cause "unknown" warnings in build output, when the tighter 'ESP_IDF_COMPONENTS' setting
#       (in '.cargo/config.toml') is applied. This is because components using these entries are then not active,
#       at all.
#
#       The entries are here, in case you'd build with default set of components.

# Bluetooth, BLE
#CONFIG_BT_ENABLED=y

# OpenThread
#CONFIG_OPENTHREAD_ENABLED=y

# Virtual FS
#
# We don't.. use virtual FS.
#   // CONFIG_VFS_SUPPORT_IO=y
#   // CONFIG_VFS_SUPPORT_DIR=y
#   // CONFIG_VFS_SUPPORT_SELECT=y
#   // CONFIG_VFS_SUPPRESS_SELECT_DEBUG_OUTPUT=y
#   // # CONFIG_VFS_SELECT_IN_RAM is not set
#   // CONFIG_VFS_SUPPORT_TERMIOS=y
#   // CONFIG_VFS_MAX_COUNT=8
#   // CONFIG_VFS_SEMIHOSTFS_MAX_MOUNT_POINTS=1
#   // CONFIG_VFS_INITIALIZE_DEV_NULL=y
#CONFIG_VFS_SUPPORT_IO=y

# MQTT
#CONFIG_MQTT_PROTOCOL_311=y
#CONFIG_MQTT_PROTOCOL_5=y
