#
# sdkconfig.defaults
#

# Rust needs more main task stack size compared to C (the default is just 3K)
CONFIG_ESP_MAIN_TASK_STACK_SIZE=20000

# Use this to set FreeRTOS kernel tick frequency to 1000 Hz (100 Hz by default).
# This allows to use 1 ms granularity for thread sleeps (10 ms by default).
#CONFIG_FREERTOS_HZ=1000


#---
# Below, components seen as unimportant for Zigbee applications are disabled.
#
# WiFi
CONFIG_ESP_WIFI_ENABLED=n
CONFIG_ESP_WIFI_SOFTAP_SUPPORT=n
CONFIG_ESP_WIFI_STA_SUPPORT=n
CONFIG_COEX_ENABLED=n

# Bluetooth
CONFIG_BT_ENABLED=n
CONFIG_BT_BLE_ENABLED=n
CONFIG_BT_CLASSIC_ENABLED=n

# Thread
CONFIG_OPENTHREAD_ENABLED=n

# http server
#CONFIG_ESP_HTTP_SERVER=n
#CONFIG_MBEDTLS=n

# Ethernet - KEEP

# HTTP server
CONFIG_HTTPD_ENABLED=n

# MQTT - KEEP maybe...? #later
#CONFIG_MQTT_ENABLED=n

# FatFS
CONFIG_FATFS_ENABLED=n

# LCD
CONFIG_LCD_ENABLED=n

# USB
CONFIG_USB_ENABLED=n

